<div id="dvEquipmentEntryPanel" style="display:none;height:400px ;width:700px;">
    @using (Html.BeginForm("SaveEquipment", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col col-12">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="txtEquipmentName-sizing-sm">Equipment Name</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="txtEquipmentName-sizing-sm" name="txtEquipmentName">
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="txtEquipmentCount-sizing-sm">Equipment Count</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="txtEquipmentCount-sizing-sm" name="txtEquipmentCount">
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <input type="submit" value="save" name="btnSubmit" class="btn btn-sm btn-primary"/>
            </div>
        </div> 
    }


</div>
