@using OST_Inventory_B_2.Models;
@using System.Data;

@{
    ViewBag.Title = "Home Page";
}

<script>
    /*$(document).ready(function () {
        //$.get("http://localhost:50372/Home/TestAPI", function (response) {
        //    alert(response)
        //})
        //var objPersonal= {
        //     Name:"abc",
        //    AGE: "20",
        //    Height: "5.9"
        // }
        //$.post("http://localhost:50372/Home/TestAPIPost?type=999", function (response) {
        //    alert(response)
        //});
        //$.ajax({
        //    type: "POST",
        //    url: "http://localhost:50372/Home/TestAPIPost",
        //    data: { "objPersonal": JSON.stringify(objPersonal) },
        //    success: success,
        //    dataType: dataType
        //});


        var ListObject = [];
        var objPersonal1 = {
            Name: "abc",
            AGE: "20",
            Height: "5.9"
        }
        ListObject.push(objPersonal1)

        var objPersonal2 = {
            Name: "xyz",
            AGE: "20",
            Height: "5.9"
        }
        ListObject.push(objPersonal2)
        $.ajax({
            type: "POST",
            url: "http://localhost:50372/Home/TestAPIPost",
            data: { "ListPersonal": ListObject }
        });
        //$.post(
        //    "http://localhost:50372/Home/TestAPIPost",
        //    ListObject)
        //    .done(function (data) {
        //        alert("Data Loaded: " + data);
        //    });
    })*/


    function ShowEquipmentEntryModal() {
        $('#dvEquipmentEntryPanel').dialog({
            title: "Inventory",
            height: 400,
            width: 650,
            modal: true/*,
            buttons: {
                "Create an account": addUser,
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
                allFields.removeClass("ui-state-error");
            }*/
        });
    }
    function ShowAssignmentEntryModal() {
        $('#dvAssignmentEntryPanel').dialog({
            title: "Inventory",
            height: 400,
            width: 650,
            modal: true/*,
        buttons: {
            "Create an account": addUser,
            Cancel: function () {
                dialog.dialog("close");
            }
        },
        close: function () {
            form[0].reset();
            allFields.removeClass("ui-state-error");
        }*/
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('body').find('.clsDynamicLinkText').each(function () {
            var id = $(this).html();
            $(this).after(`<input type="submit" class='btn btn-sm btn-primary' id='btnSubmit_${id}' name="btnSubmit" value="Select" onclick="alert(document.getElementById('btnSelectedCustID_${id}').value)"/><input type="hidden" id='btnSelectedCustID_${id}' name="btnSelectedCustID" value="${id}"/>`)
            $(this).html('')
        }) 
    })
</script>
<div class="row">
    <div class="col col-6">
        <div class="card text-center">
            <div class="card-header">
                List Equipment
                <button class="btn btn-primary" style="float:right" onclick="return ShowEquipmentEntryModal()">+</button>
            </div>
            <div class="card-body">
                <div style="border:1px solid #b6ff00;max-height:400px;overflow-y:auto">
                    <table style="width:100%">
                        @Html.Raw((String)ViewBag.dataTable) 
                    </table>
                </div>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>
    <div class="col col-6">
        <div class="card text-center">
            <div class="card-header">
                Assigned Equipment
                <button class="btn btn-primary" style="float:right" onclick="return ShowAssignmentEntryModal()">+  -</button>
            </div>
            <div class="card-body">
                <div style="border:1px solid #b6ff00;max-height:400px;overflow-y:auto"> 
                    <table style="width:100%"> 
                        @{
                            DataTable dtAssignedList = Equipment.LstAssignedEquipment();
                            string[] arrData = { "CustomerID", "CustomerName", "EquipmentName", "EquiCount" };//CustomerID	CustomerName	EquipmentName	EquiCount	Loggeduser 
                            string[] arrCap = { "", "Customer Name", "Equipment Name", "Assigned" };
                            string custData=MVCViewToolKit.DynamicTableMaker.MakeTableDynamic(dtAssignedList, arrData, arrCap, "CustomerID",5);
                            
                        }
                        @Html.Raw(custData)
                    </table>
                </div>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/_PartialEquipmentEntry.cshtml") 
@Html.Partial("~/Views/Home/_PartialAssignmentEntry.cshtml")


